{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl" crossorigin="anonymous">

    <link rel="stylesheet" href="{% static 'css/mainpage.css' %}">
    
    <title>TODO</title>
</head>
<body>
    <section>
        {% block content %}
        <div class="content" id="home" data-aos="fade-up">
            <!-- <img src="{% static 'pic/bg-img.jpg' %}" alt=""> -->
            <div class="row">
                <div class=" col-2 col-md-4"></div>
                <div class="col-8 col-md-8">
                    <h1>TODO</h1>
                </div>
                <div class="col-12">
                    <p>
                        Todo website for record and mange your works
                    </p>
                </div>
            </div>
            <div class="row">
                {% if user.is_authenticated %}
                <div class="col-md-4"></div>
                <div class="col-md-6">
                    <a class="button farhan_style" style="margin-left: 10px;" href="{% url 'main' %}">Home</a>
                </div>
                {% else %}
                <div class="col-1 col-md-2"></div>
                <div class="col-4">
                    <a class="button farhan_style" href="{% url 'login' %}">Login</a>
                </div>
                <div class="col-4">
                    <a class="button farhan_style" href="{% url 'register' %}">SignUp</a>
                </div>
                {% endif %}
            </div>
        </div>
        {% endblock content %}
    </section>
</body>
</html>